@model MalzemeTakipMVC.Models.ENV_PERSONEL

@{
    ViewBag.Title = "Delete";
}

<h3>Personel Silme Ekranı</h3>

<h5>Personeli silmek istediğinize emin misiniz?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ENV_DEPARTMAN.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENV_DEPARTMAN.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktifPasif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktifPasif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IslemTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IslemTarihi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-primary" />
            @Html.ActionLink("İptal", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
